@charset "utf-8";
/* Standard Stylesheet */

*		{
		margin:0;
		padding:0;
}

body	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
}

td		{
		vertical-align:top;
		}


div		{
		/*border:1px solid red;*/
}

#page	{
		margin:0px auto;
		position:relative;
		width:1000px;
}

#nav	{
		width:150px;
		padding:10px;
		background-color:#6699FF;
}

#middleCol	{
		width:700px;
		padding:10px;
}

#rightCol	{
		width:150px;
		padding:10px;
}

#singleCol	{
		width:850px;
		padding:10px;
}

#nav ul li	{
		list-style:none;
		padding-bottom:10px;
}

#nav a:link,
#nav a:visited	{
		color:black;
		text-decoration:none;
		display:block;
		padding-top:6px;
		padding-bottom:6px;
		padding-left:4px;
}

#nav a:hover	{
		/*text-decoration:underline;*/
		background-color:white;
}

#homePageBanner	{
		width:550px;
		margin:0 auto;
		border:2px solid red;
		border-right-width:4px;
		border-bottom-width:4px;
		text-align:center;
}

.smallText	{
		font-size:11px;
}

h1		{
		font-size:200%;
		}

h1.pageTitle	{
		font-size:150%;
}

h2	{
		font-size:120%;
}

blockquote	{
		margin-left:20px;
}

img	{
		border:none;
}

img.ImageLeft	{
		float:left;
		padding-right:20px;
		padding-bottom:20px;
}

img.ImageRight	{
		float:right;
		padding-left:20px;
		padding-bottom:20px;
}

ul.downloadList	{
		list-style-type:none;
}

ul.downloadList li	{
		padding-bottom:10px;
}

ul.downloadList li a:hover	{
		color:#6699FF;
}


a:link,
a:visited	{
		color:black;
}

a:hover	{
		color:black;
		text-decoration:none;
}

a.navBarLink:link,
a.navBarLink:visited	{
		color:black;
		text-decoration:none;
}

a.navBarLink:hover	{
		color:red;
}

a.navBarLinkActive:link,
a.navBarLinkActive:visited	{
		color:black;
		text-decoration:none;
		font-weight:bold;
}

a.navBarLinkActive:hover	{
		color:red;
}



a.wvwLink:link,a.wvwLink:visited
			{
			font-size:10px;
			color:#115e0f;
			text-decoration:none;
			}
a.wvwLink:hover	{
			color:black;
			background-color:transparent;
			}						
